*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
  body{
    background-color: black;
  }
  .game{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: pink;
  
  }
  
  h1{
    color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
  }